{
  "presets": ["es2015", "react"],
  "env": {
    "development": {
      "plugins": [
        ["transform-define", "config/app.dev.config.js"]
      ]
    },
    "test": {
      "plugins": [
        [
          "babel-plugin-webpack-loaders",
          {
            "config": "config/webpack.test.config.js",
            "verbose": false
          }
        ],
        ["transform-define", "config/app.dev.config.js"]
      ]
    }
  }
}
