{
  "presets": ["es2015", "react"],
  "env": {
    "development": {
      "plugins": [
        ["transform-define", "config/app.dev.config.js"]
      ]
    },
    "test": {
      "plugins": [
        ["transform-define", "config/app.dev.config.js"]
      ]
    }
  }
}
